apiVersion: apps/v1
kind: Deployment
metadata: 
  name: flask-k8s
spec:
  replicas: 2
  selector:
    matchLabels: 
      app: flask-k8s
  template:
    metadata:
      labels:
        app: flask-k8s
    spec:
      containers:
        - name: flask-k8s
          image: flask-k8s:1.0
          imagePullPolicy: IfNotPresent
          ports:  
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

    